<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navigaglobal.mobile.ad.huaweiadskit">

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:usesCleartextTraffic="true">

        <provider
            android:name=".HuaweiAdsKitSetup"
            android:authorities="${applicationId}.AdProvider.PlayServicesProvider"
            android:exported="false" />
    </application>
</manifest>
